<%= provide(:title, "Users") %>
<h1>Users</h1>

  <% @Users.each do |user| %>
  <li><%= gravatar_for(user, size: 20 ) %>  <%= link_to user.name, user %> - <%= user.email %>  
    
    <% if current_user.admin? && !current_user?(user)%>
      
      <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
     
    <% end %></li>
  </br>
  <% end %>