<%= provide(:title, "All users") %>
<h1>Users</h1>

  ------------</br>
  <% current_user.friendships.each do |f| %> 
    <%=  User.find(f.friend_id).name  %>
  <% end %>
  </br>------------</br>
  <% current_user.indirect_friendships.each do |f| %> 
    <%=  User.find(f.user_id).name  %>
  <% end %>
  </br>------------

  <% @Users.each do |user| %>
  <li><%= gravatar_for(user, size: 20 ) %>  
      <%= link_to user.name, user %> - <%= user.email %>
      
      <% if !current_user?(user) %>
       - 
        <% if friendship_exists?(user) %>
          <% id = friendship_exists?(user)[1] %>
          <% initiator = friendship_exists?(user)[2] %>
          <% if Friendship.find(id).approved == true %>
            <%= delete_friendship_link(id, current_user.id)   %>
          <% elsif initiator == "i" %>
            <%= confirm_friendship_link(id, current_user.id)  %> | 
            <%= reject_friendship_link(id, current_user.id)    %> | 
             <%= ignore_friendship_link(id, current_user.id)   %>
          <% else %>
            <%= withdraw_friendrequest_link(id, current_user.id)   %>
          <% end %>
        <% else %>
        <%= add_friendship_link(user, current_user.id) %> 
        <% end %>
      <% end %> 

      <% if current_user.admin? && !current_user?(user)%>
        
        | <%= link_to "X", user, method: :delete, class:"badge badge-important",
                                    data: { confirm: "You sure?" } %>      
      <% end %> 
      
      <% if current_user.admin? %>
        | <% if user.admin? %> 
            <%= "Admin user"%>
          <% else %> 
            <%= "Not Admin" %> 
          <% end %>
      <% end %> 
  
  </li>
  </br>
  <% end %>