<%= provide(:title, "All users") %>
<h1>Users</h1>

  <% @Users.each do |user| %>
  <li><%= gravatar_for(user, size: 20 ) %>  
      <%= link_to user.name, user %> - <%= user.email %>
      
      <% if !current_user?(user) %>
       - 
      <%= link_to "Add Friend", friendships_path(:friend_id => user), class:"btn btn-small", method: :post %> 
      <% end %>
      
      <% if current_user.admin? && !current_user?(user)%>
        
        | <%= link_to "X", user, method: :delete, class:"badge badge-important",
                                    data: { confirm: "You sure?" } %>      
      <% end %> 
      
      <% if current_user.admin? %>
        | <% if user.admin? %> 
            <%= "Admin user"%>
          <% else %> 
            <%= "Not Admin" %> 
          <% end %>
      <% end %> 
  
  </li>
  </br>
  <% end %>